@import url('https://fonts.googleapis.com/css?family=Roboto');

body 
{
  
  margin: 0;
  overflow: hidden;
  position: relative;
  color:#F5F5F5;
  text-shadow: 1px 1px black;
  background-color: #EEEEEE;
  width: 100%;
  height:100%;
  overflow:auto;

}

.loginscreen
{	
	background: url(../public/images/backgroundLogin.png);	
	margin: auto;
	width: 20%;
	border: 3px solid black;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10%;	
	padding-top: 20px;
	padding-bottom: 20px;
}

input
{
	margin-top:3%;
	font-family: Roboto;
}
input:hover
{
	background-color: #757575;
}

input[type="submit"]
{
	width: 100%;
	font-size: 12pt;
	height:50px;
	background-color: #E0E0E0;
}

input[type="submit"]:hover
{
	background-color: #BDBDBD;
	color:white;
	text-shadow: 8px 5px gray;
}
span
{
	font-family: Roboto;
}
#headline
{
	font-size: 18pt;
	font-family: Roboto;
}

.inlogform
{
	display: block;
}

#usernameInput
{
	display: block;
	width: 100%;
}

#passwordInput
{
	display: block;
	width: 100%;
}

p
{
	color: #E57373;
	font-family: Roboto;
}