doctype
html
 head
  style
   include welcomeScreen.css
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
 body
  div(class='jumbotron text-center')
   h1 Welcome to the Enigma homepage.
   <br>
   form(name='welcome' method='post')
    input(type="submit" value='login here' class="btn btn-primary btn-lg")
  div(id="container")

